.App {
  text-align: center;
}

.App > * {
  margin: 3rem;
}

.App h1 {
  font-size: 5rem;
}

.App p {
  font-size: 3rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.App button {
  background-color: green;
  color: #fff;
  font: inherit;
  font-size: 2rem;
  border: 1px solid blue;
  padding: .8rem;
  border-radius: .6rem;
  cursor: pointer;
}

.App button:hover {
  background-color: lightgreen;
  color: black;
}

.App button.red { /*button.red*/
  background-color: red;
}

.App button.red:hover {
  background-color: salmon;
  color: black;
}